.main-container {
  background: url('../img/bg.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .main-tile {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.main-tile {
  margin: 0 5vw;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-tile h1 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin: 0;
  text-align: center;
}

.about-me {
  text-align: center;
  letter-spacing: 0.2rem;
  padding-top: 0.6rem;
  font-size: 1.5rem;
}

.site-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 2rem 0;
}

.site-links li {
  font-size: 1.1rem;
  padding: 0.4rem 0.7rem;
  text-transform: lowercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.main-tile h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 0;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  font-size: 3rem;
  display: inline-block;
  margin: 0 1rem;
  color: var(--primary-color);
}
