@import 'modern-normalize.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
