.card-about {
  max-width: 40rem;
  text-align: justify;
  color: var(--black);
}

#profile_photo {
  shape-outside: circle(50%);
  float: left;
  width: 180px;
  margin-right: 2.5rem;
  border-radius: 9999px;
}

.main-card {
  margin: 0 5vw;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  text-align: center;
}

@media (min-width: 750px) {
  .card-about {
    font-size: 1.5rem;
  }

  .main-title {
    font-size: 3rem;
  }

  #profile_photo {
    width: 250px;
  }
}

@media (max-width: 450px) {
  #profile_photo {
    width: 150px;
    display: block;
    margin: auto;
    float: none;
    shape-outside: none;
    margin-bottom: 1.5rem;
    border-radius: 9999px;
  }
}
